h1 New User
form(action="/new", method="post")
    label(for="name") Enter Name: 
    input(type="text" name="name" id="name")
    label(for="message") Enter Message: 
    input(type="text" name="message" id="message")
    button(type='submit') Submit